.pizzahut-calculator {
    table-layout: fixed;
    border-collapse: collapse;
}

.pizzahut-calculator th, .pizzahut-calculator td {
    border: 1px dotted #333;
    padding: 6px;
    text-align: center;
}


.pizzahut-calculator input{
    width: 75px;
    text-align: right;
}