.pizza-dough-suggested{
    color: #666;
    font-size: 12px;
    text-align: right;
}

.pizza-dough-calculator__table-header--to-left{
    text-align: left;
}

.pizza-dough-calculator__table-header {
    height: 50px;
    border-bottom: 1px dotted #666;
    margin-bottom: 12px;
}

.pizza-dough-calculator__input {
    width: 85px;
    margin-right: 5px;    
    text-align: right;

}

select.pizza-dough-calculator__input {
    width: 90px;

}

.pizza-dough-calculator__output{
    font-weight: bold;
    text-align: right;
}


.pizza-dough-save {
    table-layout: fixed;
    border-collapse: collapse;
}

.pizza-dough-save button{
    width: 100%;
}

.pizza-dough-save label, .pizza-dough-save input{
    margin-right: 6px;
}

.pizza-dough-save th, .pizza-dough-save td {
    border: 1px dotted #333;
    padding: 6px;
    text-align: center;
}


.pizza-dough-save input{
    width: 300px;
    text-align: left;
}

.pizza-dough-save i{
    color: #8b0000;
}