.cv-view {
    padding-top: 0.5cm;
    background: rgb(204, 204, 204);
    padding-bottom: 0.25cm;
}

.cv-page {
    outline: 1px solid black;
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.25cm;
    z-index: 100;
    position:relative
}

.cv-page__content {
    padding: 24px;
}

.cv-print-notice{
    position: absolute;
    color:#666;
    width:200px;
    text-align: center;
    top: 200px;
    left: 200px;
    transform: rotate(-45deg);
    
}

.cv-print-notice--message{
    display: block;
    position: relative;
    z-index: 1;
}

@media print {
    @page{
        size: A4;
    }
    .cv-page{
        margin-bottom:0;
    }
    .cv-print-notice{
        display: none;
    }
    .navigation {
        display: none;
    }
    .cv-page__content {
        padding: 0;
    }
    body, .cv-page {
        margin: 0;
        box-shadow: 0;
        outline: none;
    }
}

.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-info li {
    list-style: none;
}

.header-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-info h1, .header-info h2 {
    margin: 0;
    padding: 0;
}

.job-info {
    display: flex;
    justify-content: space-between;
}

.me-in-internet {
    font-size: 125%;
    position: relative;
}

.me-in-internet a {
    padding: 6px;
    border: 1px #91BED4 solid;
    border-radius: 50%;
    margin-right: 12px;
}

.me-in-internet i {
    width: 25px;
    height: 25px;
    text-align: center;
}