.skill-container{
    
}

.skill-list {   
    display: flex;
    flex-wrap: wrap;
    flex-flow: space-between;
    margin:0;
    padding: 0;
}

.skill {    
    list-style: none;
    margin:0;
    padding: 0;
    width: 33%;
}