.ratio-list {
    padding: 0;
    margin: 0;
}

.ratio-list li {
    list-style: none;
}

.ratio-calculator__input {
    width: 50px;
    margin-right: 5px;
    padding-left: 3px;
    border: 1px dotted black;
}

.ratio--is-preferred {
    color: darkred;
    font-weight: bold;
}